<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RTE Job Smoke">

<test thread-count="5" name="RTE Get PickUPID and Search">
		<classes>
			<class name="rte_RTEJobCreation.RTEGetPUpID"></class>
		</classes>
	</test>
	
	<test thread-count="5" name="RTE Job Processing">
		<classes>
			<class name="rte_RTEJobCreation.RTEOneToOneOrderProcess"></class>
		</classes>
	</test>

	<test thread-count="5" name="RTE Crud Operation">
		<classes>
			<class name="rte_RTEJobCreation.RTECrudOperations"></class>
		</classes>
	</test>

</suite> 